<div class="social_media_buttons addthis_toolbox addthis_default_style addthis_32x32_style">
  <div class="custom_images">
    <a class="addthis_button_facebook">
      <svg viewBox="0 0 32 32" class="icon-large icon-facebook3">
        <use xlink:href="/icons/cr.svg#facebook3"></use>
      </svg>
    </a>
    <a class="addthis_button_twitter">
      <svg viewBox="0 0 32 32" class="icon-large icon-twitter3">
        <use xlink:href="/icons/cr.svg#twitter3"></use>
      </svg>
    </a>
    <a class="addthis_button_email">
      <svg viewBox="0 0 32 32" class="icon-large icon-mail3">
        <use xlink:href="/icons/cr.svg#mail3"></use>
      </svg>
    </a>
    <a class="addthis_counter addthis_bubble_style"></a>
  </div>
</div>